@import "reset.css";
body{
}

.mainHeader{
  height: 80px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.leftHeader{
  display: flex;
  align-items: center;
}

.headerCategory{
  display: flex

}

.category{
  margin-left: 15px;
}

.logoImg{
  width: 100px;
}

.headerIcons{
  width: 20px;
}